/* MultiSelect */
.multi-select {
    display: flex;
    flex-direction: column;
    margin: 4px;
    width: 80vw
}

.board {
    display: flex;
    flex-direction: row;
    border-style: solid;
    width: 100%;
    padding: 4px;
}

@media (max-width: 400px) {
    .board {
      flex-direction: column;
    }
  }

.search-board {
    justify-content: space-between;
    
}

.selection-board {
    /* flex-direction: row; */
}

.selection-view {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: green;
    width: 50%;
}

/* ItemCard */

.item-card {
    border-style: solid;
    border-color: red;
    margin: 1px;
}

/* ClearButton */

.hovering {
    background-color: hotpink;
}

/* SearchField */
.input {
    background-color: hotpink;
}