/* MultiSelect */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

.multi-select {
    display: flex;
    flex-direction: column;
    margin: 4px;
    width: 80vw
}

.board {
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid var(--main-border-color) ; */
    width: 100%;
    padding: 4px;
}

@media (max-width: 400px) {
    .board {
      flex-direction: column;
    }
  }

.search-board {
    justify-content: space-around;
    flex-wrap: wrap;
}

.selection-view {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 8px;

}

.title {
    font-size: 18px;
    font-weight: 800;
}

/* ItemCard */

.item-card, input {
    padding: 8px;
    border-bottom: 1px solid var(--main-border-color) ;

}

/* ClearButton */

.hovering {
    box-shadow: 0 0 5px;
}

input {
    outline: 0;
    border-width: 0 0 1px;
    
}

.search-icon{
    width: 50px;
    height: 50px;
  }

.search-form {
    display:flex;
    align-items: center;
}

.add-button {
    background-color: #FF000000;
    border: none;
}

.clear-button {
    margin: 8px;
}